
@{
    ViewData["Title"] = "Kassa";
}

<h1 class="text-center">Kassa systeem</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a href="http://www.ubh.com" class="tile purple">
                <h3 class="title">Kaartverkoop</h3>
                <p>Verkoop van tickets aan de kassa</p>
            </a>
        </div>
        <div class="col">
            <a href="http://www.ubh.com" class="tile orange">
                <h3 class="title">Ticket upgrade</h3>
                <p>Upgrade van een gekochte ticket</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="http://www.ubh.com" class="tile green">
                <h3 class="title">Film toevoegen</h3>
                <p>Voeg een nieuwe film toe</p>
            </a>
        </div>
        <div class="col">
            <a href="http://www.ubh.com" class="tile blue">
                <h3 class="title">Voorstelling toevoegen</h3>
                <p>Voeg een nieuwe</p>
            </a>
        </div>
    </div>
</div>

