/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
}

.checkbox {
  position: relative;
  margin-top: 12.5px;
  margin: 4px;
  width: 20px;
}

.checkbox input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  transform: translate3d(10px, 4px, 0);
  position: absolute;
  z-index: -5;
  height: 2px;
  margin-left: 0;
  width: 2px;
}

.checkbox label:before,
.checkbox label:after {
  position: absolute;
  left: 0;
  top: 12.5px;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  margin-top: -12.5px;
}

.checkbox label:after {
  background: #fff;
  border: 1px solid #333;
  content: '';
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.checkbox input + label:before {
  content: '';
  border-color: black;
  z-index: 234;
  border: 1px solid;
}

.checkbox input[data-status="occupied"] + label:before {
  background-color: red;
}

.checkbox input[data-status="reserved"] + label:before {
  background-color: orange;
}

.checkbox input[data-status="free"] + label:before {
  background-color: green;
}

.checkbox input[data-status="selected"] + label:before {
  background-color: yellow;
}

.movie-screen {
  height: 20px;
  border: 1px solid black;
  background-color: black;
  margin-bottom: 50px;
}

/*Register Index View*/
body {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

.tile .title {
  margin-top: 0px;
}

.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
  color: #fff;
}

.tile.purple {
  background: #5133AB;
}

.tile.purple:hover {
  background: #3e2784;
}

.tile.red {
  background: #AC193D;
}

.tile.red:hover {
  background: #7f132d;
}

.tile.green {
  background: #00A600;
}

.tile.green:hover {
  background: #007300;
}

.tile.blue {
  background: #2672EC;
}

.tile.blue:hover {
  background: #125acd;
}

.tile.orange {
  background: #DC572E;
}

.tile.orange:hover {
  background: #b8431f;
}

.tile.yellow {
  background: #cfcf04;
}

.tile.yellow:hover {
  background: #9c9c02;
}

.tile.red {
  background: #a01a1a;
}

.tile.red:hover {
  background: #6b0101;
}
